<div class="container">
    <div class="row holausuario">
        <div class="col-6">
            <p>Hola {{usuario}}!</p>
        </div>
        <div class="col-6 text-end">
            <a href="/admin/login/logout" class="boton btn">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</div>