<div class="fluid-container" style="background-color: lightblue;">
    <div class="container">
        <div class="row holausuario" style="margin-top: -10px;">
            <div class="col-6">
                <p>Hola {{usuario}}!</p>
            </div>
            <div class="col-6 text-end">
                <a href="/admin/login/logout" class="boton btn">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
            </div>

        </div>
    </div>


    <nav class="barradmin">
        <ul>
            <li><a href="">Bs As</a></li>
            <li><a href="">Cuyo</a></li>
            <li><a href="">Litoral</a></li>
            <li><a href="">Noroeste</a></li>
            <li><a href="">Pampa</a></li>
            <li><a href="">Patagonia</a></li>
        </ul>
    </nav>
</div>