<main>

    <div class="container">

      <div class="nosotros">
        <h2>Quienes somos</h2>
        <p>Somos dos amigas apasionadas por conocer el mundo.
          Cada lugar nos parece tener un poquito mas de cultura para enriquecernos.
          Viajar abre la cabeza, eso es sabido. Con <span style="font-family: 'Neucha'; font-weight: bold;">Pasión
            Turista</span> buscamos contagiar nuestro placer por recorrer
          nuestro país, Argentina. </p>
        <p>Viajar es encontrar sensaciones, es descubrimiento, es disfrutar sabores, olores, fronteras que cruzar.... es
          el infinito, es un salgo al vacío. Algunos le tienen miedo y lo superan; otros lo necesitan para vivir.</p>
        <p> Todavía nos quedan muchos recovecos por recorrer. Esperamos poder inspirarlos e incentivarlos a
          conocer
          aún más paisajes que nos regala este maravilloso país lleno de escenarios super variados, para todos los
          gustos, dandoles ideas y tips. 
        </p>
        <div class="wrapper">
          <div class="typing-demo">
            Viajar es enamorarse a cada paso.
          </div>
        </div>
      </div>
      
    </div>


    <div class="row d-flex offset-2">
      <div class="col imgpresentacion">
        <div class="card" style="width: 14rem;">
          <img src="images/melina.jpg" class="card-img-top rounded-circle imgpresentacion" alt="Melina">
          <div class="card-body">
            <h5 class="card-title">Melina</h5>
            <p class="card-text">Pasión por buscar buenos precios y recorrer la mayor cantidad de lugares en la estadía
              deseada.</p>
          </div>
        </div>
      </div>
      <div class="col imgpresentacion">
        <div class="card" style="width: 14rem;">
          <img src="images/marito.jpeg" class="card-img-top rounded-circle imgpresentacion" alt="Marianela">
          <div class="card-body">
            <h5 class="card-title">Marianela</h5>
            <p class="card-text">La que sabe. Licenciada en turismo.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>