<main>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4 propuestas">
        <div class="col">
          <div class="card">
            <img src="images/propuesta bsas.jpg" class="card-img-top" alt="Obelisco">
            <div class="card-body">
              <h5 class="card-title">Buenos Aires</h5>
              <p class="card-text">Nuestra provincia de origen, teniamos que hacer una sección especial. CABA, GBA,
                escapadas y más!</p>
              <a href="/propuestasbsas" class="boton">Ir a Buenos Aires</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/propuesta pampeana.jpg" class="card-img-top" alt="Calamuchita">
            <div class="card-body">
              <h5 class="card-title">Llanura Pampeana</h5>
              <p class="card-text">Si sos extranjero, la región pampeana es una de las más cercanas para visitar,
                sobretodo si tu tiempo es acotado.</p>
              <a href="/propuestaspampa" class="boton">Ir a Llanura pampeana</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/propuesta norte.jpg" class="card-img-top" alt="Cerro de los 7 colores">
            <div class="card-body">
              <h5 class="card-title">Noroeste</h5>
              <p class="card-text">Un escenario lleno de historia que a simple vista rompe con lo que podemos ver en el
                resto de nuestro país.</p>
              <a href="/propuestasnorte" class="boton">Ir a Noroeste</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/propuesta cuyo.jpg" class="card-img-top" alt="Cordillera">
            <div class="card-body">
              <h5 class="card-title">Cuyo</h5>
              <p class="card-text">Sol en verano, nieve en invierno. La Cordillera de los Andes ofrece miles de
                actividades. ¿No te convencimos? Hay vino. </p>
              <a href="/propuestascuyo" class="boton">Ir a Cuyo</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/propuesta patagonia.jpg" class="card-img-top" alt="Glaciar">
            <div class="card-body">
              <h5 class="card-title">Patagonia</h5>
              <p class="card-text">Su principal atractivo esta relacionado con la nieve, pero tiene muchísimo más que
                ofrecer! Primordial comer chocolate.</p>
              <a href="/propuestaspatagonia" class="boton">Ir a Patagonia</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/propuesta litoral.jpg" class="card-img-top" alt="Cataratas del Iguazú">
            <div class="card-body">
              <h5 class="card-title">Litoral</h5>
              <p class="card-text">Fascinante belleza natural de suma importancia para el planeta y el desarrollo en
                equilibrio del ecosistema.</p>
              <a href="/propuestaslitoral" class="boton">Ir a Litoral</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>