<main>
        <div class="container-fluid titulosprop">
            <h1>LLANURA PAMPEANA</h1>
        </div>

        <nav class="barra">
            <ul>
                <li><a href="#rios">Entre Ríos</a></li>
                <li><a href="#cordoba">Córdoba</a></li>
                <li><a href="#pampa">La Pampa</a></li>
            </ul>
        </nav>
        <div class="container">
            <h2 class="divisores" id="rios">Entre Ríos</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/rios1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/rios2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/rios3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p>
                            Es conocida por sus fuentes termales y su tradición de cultivar la yerba mate. Alberga 2 parques nacionales: Predelta, abundante en especies de aves, y El Palmar, una de las reservas que quedan de la palma yatay.
                        </p>
                        <p>
                            En época de carnaval hay que ir a Gualeguaychú. El corso llena de alegría y fiesta las calles. Alquilar lugar para dormir con tiempo por que se llena.
                        </p>
                        <p>
                            Es todo un desafío internarse en los verdes densos que forman las denominadas selvas en galería, recorriendo caminos sinuosos, bordeando arroyos, trepando barrancas o ascendiendo pendientes, ya sea practicando trekking, mountain-bike, excursiones en 4 x 4, travesias en kayak o cabalgatas.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Menciones especiales</h5>
                        <ul>
                            <li>Paraná: capital de la provincia.</li>
                            <li>Parque Nacional El Palmar.</li>
                            <li>Ruta termal.</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="cordoba">Córdoba</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/cordoba1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/cordoba2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/cordoba3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p>
                            La zona de traslasierra: tres embalses, un imponente cordón montañoso, volcanes, palmares, bosques y ríos, convierten a esta región en un destino ideal para el descanso y la recreación.
                        </p>
                        <p>
                            Zona Noroeste: para disfrutar de los ríos y del aire de las sierras, recorrer paisajes históricos y tomar contacto con el legado cultural de los comechingones.
                        </p>
                        <p>Nuestros favoritos</p>
                        <ul>
                            <li>San Marcos Sierras en la zona de Cruz del Eje.</li>
                            <li>Capilla del Monte en Punilla, se encuentra en Cerro Uritorco</li>
                            <li>Laguna de Mar Chiquita, una laguna de agua salada que constituye uno de los humedales salinos más grandes de Latinoamérica y del mundo.</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Carlos Paz.</li>
                            <li>Villa General Belgrano.</a></li>
                            <li>Las Rabonas.</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="pampa">La Pampa</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/pampa1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/pampa2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/pampa3.jpeg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Reserva Provincial Parque Luro donde podemos avistar jabalies, ciervos colorados, pumas y zorros.
                        </p>
                        <p>
                            General Pico, Tierra del Cawel (tierra de caballos) ofrece circuitos culturales, parques temáticos y actividades ecuestres.
                        </p>
                        <p>
                            En el Sudeste pampeano famoso por su cultura menonita cuenta con diversos encantos naturales.
                        </p>
                        <p>Las localidades pampeanas unidas por el Río Colorado ofrecen viñedos, agua rojiza y balnearios. Cercana se encuentra la Reserva Natural Pichi Mahuida donde se pueden avistar guanacos, maras, vizcachas, entre otros. Tambien está el Yacimiento Arqueológico Cerro de los Viejos.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Menciones especiales</h5>
                        <ul>
                            <li>Parque Nacional Lihue Calel.</li>
                            <li>Santa Rosa: capital de la provincia.</li>
                            <li>Bosques Caldenes</li>

                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

           
            <div class="boton"><a href="/propuestas" class="volver"><i class="fas fa-long-arrow-alt-left"></i> Todas
                    las propuestas</a>
                </div>
        </div>
      

    </main>
