 <main>
        <div class="container-fluid titulosprop">
            <h1>PATAGONIA</h1>
        </div>

        <nav class="barra">
            <ul>
                <li><a href="#brc">Rio Negro</a></li>
                <li><a href="#nqn">Neuquén</a></li>
                <li><a href="#chubut">Chubut</a></li>
                <li><a href="#santa">Santa Cruz</a></li>
                <li><a href="#fuego">Tierra del Fuego</a></li>
            </ul>
        </nav>

        <div class="container">
            <p>Importante saber sobre la Patagonia Argentina es que es exquisito ir en Invierno o Primavera para poder
                disfrutar de la nieve. Y en verano creemos que es el mejor momento para hacer trekking en esta región
                del país. Los paisajes nunca dejan de sorprender y siempre te dejan con ganas de volver por más.</p>
            <p>Las chocolaterías y cervecerías son la especialidad.</p>
        </div>
        <div class="container">
            <h2 class="divisores" id="brc">Rio Negro</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/brc1.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/brc2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/brc3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>

                        <div id="carouselExampleCaptions" class="carousel slide separacion" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/bolson1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/bolson2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/bolson3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">San Carlos de Bariloche</h5>
                        <p class="card-text">
                        <p>
                            Bariloche tiene un lugar especial en nuestros corazones. Vamos a intentar ser lo más
                            objetivas posible. Habiendo dicho esto, si podés ir, andá y si podés volver, también. Nunca
                            terminás de conocerlo. Perfecto en los meses frios y cálidos.
                        </p>
                        <p>
                            Lugares icónicos: Cerro Catedral, Campanario y Tronador. Si están interesados en excursiones
                            lacustres, nuestras favoritas son: Puerto Blest junto a cascada de los cántaros e Isla
                            Victoria con el Bosque de Arrayanes. P.D.: prueben los ravioles de trucha, el chocolate y
                            una cerveza.
                        </p>
                        <h5 class="card-title">El Bolsón</h5>
                        <p>
                            Hacia el oeste de la ciudad se pueden acceder al mirador Cabeza del Indio y desde allí tomar
                            un sendero atravesando los bosques de ciprés para llegar a Cascada Escondida y al Jardín
                            Botánico. La Catarata de Mallín Ahogado puede ser visitada a través de un camino accesible
                            para todo tipo de vehículo, o la chacra Wharton, uno de los puntos de partida para la red
                            más grande de refugios de montaña. Si nos direccionamos hacia el Este, no dejar de lado al
                            increíble Bosque Tallado en el imponente Cerro Piltriquitrón.
                        </p>
                        <p>
                            Creemos que el lugar al que no pueden dejar de ir es el famoso Cajón Azul. Este recorrido no
                            es apto para menores de edad ni para personas mayores debido a la exigencia física que
                            supone. La zona no cuenta con señal de telefonía celular.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Si podés tomate tu tiempo con el Bolsón y Bariloche por separado. Mucho por recorrer y cada
                            lugar es precioso.</h5>
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <p>Recordar registrarse antes de cualquier trekking o actividad en la montaña, es caso de que
                            surja un imprevisto.</p>
                        <h5>Menciones especiales de Rio Negro</h5>
                        <ul>
                            <li>Viedma: la capital de la provincia</li>
                            <li>Las Grutas: playa con corriente de agua cálida</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="nqn">Neuquén</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/nqn1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/nqn2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/nqn3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Muchos parques nacionales por recorrer: el Lanín, Los Arrayanes, Nahuel Huapi y Laguna
                            Blanca.
                        </p>
                        <p>
                            Hay muchas excursiones para hacer, turismo aventura y en invierno también podés encontrar
                            nieve. Tener en cuenta que en verano los días son muy largos, suele anochecer
                            aproximadamente a las 9pm.
                        </p>
                        <h5>Ruta de los 7 lagos</h5>
                        <p>
                            La Ruta de los 7 Lagos conecta los lagos Lácar, Machónico, Falkner, Villarino, Escondido,
                            Correntoso, Espejo y Nahuel Huapi. Podemos comenzar el viaje desde San Martín de los Andes,
                            Bariloche o Villa la Angostura. Si alquilás un auto, creemos que lo mejor es tomarse todo el
                            día para recorrer y entrar a las playas. Si vas con excursión, durará aproximadamente 4
                            horas pero podés dedicarte a disfrutar el paisaje a pleno.
                        </p>

                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Volcán Copahue.</li>
                            <li>Represa El Chocón.</a></li>
                            <li>Villa la Angostura</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="chubut">Chubut</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/chubut1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/chubut2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/chubut3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Puerto Madryn</h5>
                        <p class="card-text">
                        <p>
                            Famoso por el avistaje de ballenas entre los meses junio y noviembre. Las ballenas se asoman
                            todos los años al Golfo Nuevo, ofreciendo un espectáculo único en el mundo. Hay posibilidad
                            de hacer el avistaje desde la costa o con una excursión en un barco. Hay lobitos marinos
                            todo el año en e Punta Loma y pingüinitos en Punta Tombo. También podes ver orcas de
                            septiembre a enero en Peninsula Valdés.
                        </p>
                        <h5>Esquel</h5>
                        <p>
                            Veranos secos e inviernos que pintan de blanco los cerros, cada estación tiene su encanto.
                            Desde la Cordillera de los Andes, los alrededores de Esquel ofrecen algunos de los rincones
                            más pristinos de la Patagonia.
                        </p>
                        <p>Ofrece posibilidad de turismo aventura y, en invierno, ski en La Hoya.</p>
                        <p>
                            Los principales atractivos son: Parque Nacional Los Alerces, Té Galés, Cascadas Nant y Fall,
                            el precioso Campo de Tulipanes en Trevelin y la famosa Trochita.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Parque Nacional Lago Puelo.</li>
                            <li>Parque Nacional Los Alerces.</a></li>
                            <li>Puerto Patriada.</li>

                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="santa">Santa Cruz</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/cruz1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/cruz2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/cruz3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">El Calafate</h5>
                        <p class="card-text">
                        <p>
                            El Calafate es realmente imperdible. Todo se resume al Parque Nacional Los Glaciares. El
                            trekking sobre el hielo, navegaciones, senderismo, escalada, pesca, son algunas de las
                            opciones que ofrece el Parque y permiten conocer lugares como:
                        <ul>
                            <li>Glaciares Perito Moreno, Upsala y Spegazzini</li>
                            <li>Lago Roca</li>
                            <li>Glaciar Viedma</li>
                            <li>Zona del Cerro Chaltén o Fitz Roy</li>
                            <li>Chorrillo del Salto</li>
                            <li>Campo de Hielo Patagónico</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>El Chaltén: muchas opciones de trekking y más glaciares.</li>
                            <li>Caleta Olivia.</a></li>
                            <li>Puerto Deseado: para ver pingüinitos, entre otras cosas.</li>

                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="fuego">Tierra del Fuego - Fin del Mundo</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/fdm1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/fdm2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/fdm3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                             Si queremos esquiar, el Cerro Castor es el centro de esquí. Y si nos aguantamos el frío podemos hacer una Expedición a la Antartida, una locura.
                             Hermoso lugar, con veranos frescos e inviernos fríos, muy fríos. Muy fríos. Rodeado de paisajes únicos, hay que ir al Tren del Fin del Mundo, ver el faro "Les Éclaireus", hacer trekking por el P.N. Tierra del Fuego, el Canal de Beagle y la Estancia Harberton tiene pingüinitos para ofrecer.
                        </p>
                        <p>
                            Es necesario vestirse en capas con prendas y calzado impermeable (tanto en la ciudad como en las excursiones), usar camisetas, calzas y medias térmicas, un buen par de guantes, bufanda, gorro y, clave, lentes de sol con protección UV.
                        </p>
                        <p>
                            Es indispensable utilizar protector solar con un factor elevado (+30) en cualquier estación, ya que la zona se encuentra afectada por radiación UV producto del agujero en la capa de ozono que se extiende hasta el extremo Sur de la Patagonia.
                        </p>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Laguna Negra.</li>
                            <li>Bahía San Sebastián</a></li>
                            <li>Cabo San Pablo</li>

                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>



            <div class="boton"><a href="/propuestas" class="volver"><i class="fas fa-long-arrow-alt-left"></i> Todas
                    las propuestas</a></div>
        </div>
        </div>

    </main>
