 <main>
        <div class="container-fluid titulosprop">
            <h1>NOROESTE</h1>
        </div>

        <nav class="barra">
            <ul>
                <li><a href="#salta">Salta</a></li>
                <li><a href="#jujuy">Jujuy</a></li>
                <li><a href="#tucuman">Tucumán</a></li>
            </ul>
        </nav>


        <div class="container">
            <h2 class="divisores" id="salta">Salta</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/salta1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/salta2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/salta3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Durante los meses de marzo a septiembre, la temperatura diurna es agradable, por las noches es necesario abrigarse ya que las temperaturas descienden considerablemente; durante los meses de verano, por las noches suele refrescar, por lo que es recomendable traer un abrigo liviano.
                        </p>
                        <p>
                            Salta es una provinicia pequeña con mucho que ofrecer a pesar de que, si no estas acostumbrado, puede que te afecte la altura. No hay que asustarse, siempre se puede masticar coca. 
                        </p>
                        <p>
                            Si tu idea es alquilar un auto para recorrerla tenés que saber que para llegar a muchos destinos los caminos son de tierra y en cornisa. Si no te animás, siempre está la posibilidad de alquilar excursiones. Siempre exijan los comprobantes de los servicios contratados y no lo haga en la calle.
                        </p>
                        <p>Definitivamente no podés ir a Salta y volver sin haber ido a una peña y probado alguna comida típica. Acá somos fan de el locro y las empanadas salteñas. Tambien hay viñedos...</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Imposible no ir a las Salinas Grandes - un paisaje inigualable - Cafayate y Valle Encantado. Son los destinos típicos.</h5>
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>El anfiteatro.</li>
                            <li><a href="https://trenalasnubes.com.ar/inicio-es/" target="blank">Tren del cielo</a></li>
                            <li>Quebrada de las conchas</li>
                            <li>Parque Nacional Baritú</li>
                            <li>Iruya</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="jujuy">Jujuy</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/jujuy1.jpeg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/jujuy2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/jujuy3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Se puede visitar y recorrer durante todo el año. Jujuy es la provinicia más al norte de la República, entonces... hace calor en verano, pero que no te desaliente. No te vas a arrepentir sea la estación que sea en la que vayas.
                        </p>
                        <p>
                            Tiene una variedad de paisajes impresionantes: montañas, valles, selva, termas... buscabas algo más?
                        </p>
                        <p>
                            Al igual que salta, si tu idea es alquilar un auto para recorrerla tenés que saber que para llegar a muchos destinos los caminos son de tierra y en cornisa. Si no te animás, siempre está la posibilidad de alquilar excursiones. Siempre exijan los comprobantes de los servicios contratados y no lo haga en la calle.
                        </p>
                        <p>Recomendamos fuertemente ir a Yungas, un paisaje poco conocido por los turistas, pero hay que ir. Es la selva de montaña más increible de Jujuy, en el parque Calilegua. Ofrece muchas opciones de trekking.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Imposible no ir al Cerro de los 7 colores, Serranía del Hornocal y Purmamarca. Son los destinos típicos.</h5>
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Quebrada de Humahuaca. Si te gusta el vino, andá.</li>
                            <li>Probar sufflé de pejerrey y trucha, humitas y cazuela de llama.</a></li>
                            <li>Tilcara</li>
                            <li>Camino del Inca</li>
                            <li>Garganta del diablo</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="tucuman">Tucumán</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/tucuman1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/tucuman2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/tucuman3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Tucumán es sinónimo de historia. Es independencia. La provincia más chiquita ofrece una gran cantidad de recursos turísticos naturales como bellos paisajes, excelente clima durante el otoño y el invierno, gran cantidad de áreas naturales protegidas como así también, atractivos turísticos culturales
                        </p>
                        <p>
                            Sin duda, el primer circuito que debe recorrer el turista es el de Ciudad Histórica, donde la provincia vio nacer en sus calles a la Independencia Argentina. En este paseo, conocerá los edificios y lugares cívicos más importantes del Norte Argentino como ser la Casa Histórica, la Plaza Independencia, museos e iglesias empapadas de historia , entre otros de significativa importancia.
                        </p>
                        <p>
                            Si vas a estar en la capital, tener en cuenta que el horario de la famosa siesta es de 14 a 17hs, no vas a encontrar mucho abierto.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>La casita de Tucumán.</li>
                            <li>Tafí del Valle</a></li>
                            <li>Valle Calchaquí.</li>
                            
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>




                    <div class="boton"><a href="/propuestas" class="volver"><i
                                class="fas fa-long-arrow-alt-left"></i> Todas las propuestas</a></div>
                </div>
            </div>

    </main>