<main>
        <div class="container-fluid titulosprop">
            <h1>CUYO</h1>
        </div>

        <nav class="barra">
            <ul>
                <li><a href="#rioja">La Rioja</a></li>
                <li><a href="#juan">San Juan</a></li>
                <li><a href="#luis">San Luis</a></li>
                <li><a href="#mendoza">Mendoza</a></li>
            </ul>
        </nav>
        <div class="container">
            <h2 class="divisores" id="rioja">La Rioja</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/rioja1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/rioja2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/rioja3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            La provincia de La Rioja presenta paisajes de ensueño junto a la Cordillera de los Andes, resultando ideal para satisfacer a los amantes del turismo aventura y las actividades al aire libre.
                        </p>
                            <ul>
                                <li>Enoturismo: por la ruta 40 nos encontramos con el Valle de Chilecito y Famatina, el corazón productivo de la provincia. Prueben el Torrontés Riojano.</li>
                                <li>Cráter corona del Inca: solo se puede llegar con un guía y de diciembre a abril. Es una laguna de agua azul a 5mil metros sobre el nivel del mar. Apta para navegar y bucear.</li>
                                <li>Termas: a pocos km de la capital con temperaturas entre 38° y 40° </li>
                                <li>Parque nacional Talampaya: patrimonio de la Humanida dy Maravilla Natural de Argentina. Especial para trekking.</li>
                                <li>Reserva Natural Laguna Brava: humedal de importancia internacional deslumbra con flamencos rosados, vicuñas, nieve y montañas.</li>
                            </ul> 
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Menciones especiales</h5>
                        <ul>
                            <li>Reserva Natural y Cultural Los Colorados</li>
                            <li>Parque provinicial el Chiflón.</li>
                            <li>Quebrada de los Cóndores.</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="juan">San Juan</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/juan1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/juan2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/juan3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            San Juan tiene mucha cultura, historia y paisajes muy bellos para disfrutar. Y también un circuito de vinos. Si, cuyo es famoso por sus vinos.
                        </p>
                        <ul>
                            <li> Ischigualasto - Parque triásico: la naturaleza lleva trabajando algo más de 220 millones de años. Un paisaje de otro planeta que es Patrimonio de la Humanidad.</li>
                            <li>Ruta Interlagos: un recorrido  entre montañas que envuelven los espejos de agua para disfrutar con amigos y en familia.</li>
                            <li>Dique de Ullum y Cuesta del Viento: si tenés ganas de probar deportes de agua, no dejes de ir.</li>
                        </ul>
                        <p>Si te animás, hay una excursión de 6 días a caballo: Cruce de los Andes. Si San Martín lo hizo enfermo, vos tambien podés.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Casa natal de Sarmiento.</li>
                            <li>Valle Fértil, más conocido como Valle de la Luna.</a></li>
                            <li>Calingasta.</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="luis">San Luis</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/luis1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/luis2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/luis3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Seguro asociamos la provincia con Villa de Merlo, famosa por su microclima. Pero, esta provincia tiene mucho mas por ofrecer.
                        </p>
                        <ul>
                           <li>Potrero de los Funes. Su emblemático espejo de agua permite realizar deportes nauticos aunque tambien en las inmediaciones se realiza trekking, mountain bike, cabalgatas y escaladas.</li>
                           <li>La Carolina: es la vía directa para visitar la mina de oro de Buena Esperanza. Caminatas llevan hacia varios cerros volcánicos donde se pueden ver llamitas.</li>
                           <li>Termas: a pocos kilómetros de la ciudad de San Luis se encuentran Balde y San Jerónimo.</li>
                           <li>Salinas del Bebedero, despliegan todo su esplendor en invierno.</li>
                       </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Villa de Merlo.</li>
                            <li>Parque Nacional Sierra de las Quijadas.</a></li>
                            <li>Valle del Conlara y San Martín.</li>

                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="mendoza">Mendoza</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/mendoza1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/mendoza2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/mendoza3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                    
                        <p>
                            En esta provincia se puede hacer practicamente todo. Cada lugar muestra dos escenarios distintos en invierno y verano. Hermosa para visitarla durante todo el año.
                        </p>
                        <p>Famosa por sus viñedos, en cada departamento o cercanías hay, al menos, 2 o 3 bodegas para visitar. Se pueden hacer mediante excursión o por cuenta propia. Tener en cuenta que en cada viñedo vas a tomar alcohol, por favor se conciente y no vayas en auto si vas a tomar.</p>
                        <p>Todos los lugares ofrecen turismo aventura en verano, en invierno tambien pero hace frío. Y en invierno podés ir a visitar la nieve o esquiar</p>
                        <p>Lugares destacados:</p>
                        <ul>
                            <li>Valle de Uco.</li>
                            <li>San Rafael</li>
                            <li>Uspallata</li>
                            <li>Las Leñas</li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Monumento natural Puente del Inca.</li>
                            <li>Parque Nacional Aconcagua</li>
                            <li>Villavicencio</li>

                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            
            <div class="boton"><a href="/propuestas" class="volver"><i class="fas fa-long-arrow-alt-left"></i> Todas
                    las propuestas</a>
                </div>
        </div>
      

    </main>
