 <main>
        <div class="container-fluid titulosprop">
            <h1>LITORAL</h1>
        </div>

        <nav class="barra">
            <ul>
                <li><a href="#misiones">Misiones</a></li>
                <li><a href="#corrientes">Corrientes</a></li>
            </ul>
        </nav>

        <div class="container">
            <h2 class="divisores" id="misiones">Misiones</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/misiones1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/misiones2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/misiones3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Misiones, conocida por su tierra colorada, es una provincia con clima subtropical húmedo, sin estaciones secas. Es importante tener una buena hidratación durante los meses cálidos.
                        </p>
                        <h5>Cataratas del Iguazú</h5>
                        <p>
                          En el Parque Nacional Iguazú se encuentra la octava maravilla del mundo. Definitivamente es algo imperdible. Corresponde a un viaje de pocos días, con 4 alcanza. Se pueden ver desde la pasarela  o hacer excursiones en el agua para ver de cerca las cataratas, si se puede invertir en esto último, haganlo, no alcanzan las palabras para describir la experiencia.
                        </p>
                        <h5 class="card-title">Reducciones Jesuiticas</h5>
                        <p>
                            Un sitio guaraní jesuítico restaurado en su totalidad, donde se puede apreciar en su plenitud la arquitectura, el urbanismo y el arte barroco-americano plasmado en los muros del templo, su gran fachada y la residencia de los Padres Jesuitas. Divididas en Santa Ana, Santa María la Mayor y Corpus Christi.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Menciones especiales de Misiones</h5>
                        <ul>
                            <li>Posadas: la capital de la provincia</li>
                            <li>Parque Provincial Salto Encantado</li>
                            <li>Minas de Wanda</li>

                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <h2 class="divisores" id="corrientes">Corrientes</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="images/corrientes1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/corrientes2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="images/corrientes3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Recomendaciones</h5>
                        <p class="card-text">
                        <p>
                            Corrientes ofrece playas en Paso de la Patria, Ituzaingó, Empedrado, Bella Vista, Goya y Esquina. Es conocida por su Carnaval, si tenés la posibilidad de ir, no te vas a arrepentir. Hay un clima de alegría y jolgorio que rompe con la rutina.
                        </p>
                        <p>
                            Si tenés ganas de ver algún tipo de espectáculo les recomendamos ir a ver chamamé correntino.
                        </p>
                        <h5>Esteros del Iberá</h5>
                        <p>
                            En este extenso humedal, que es área protegida, vas a poder ver Inambúes, yacarés negro y overo, carpinchos y especies amenazadas como el ciervo de los pantanos, el aguará guazú, los capuchinos, corbatitas y otras aves.
                        </p>
                        <p>
                            Para visitar el Parque Nacional Iberá, comunicate previamente con las oficinas de Informes Turísticos de San Miguel o Ituzaingó, según planifiques tu recorrido desde el Portal San Nicolás o desde el Portal Cambyretá. Tené en cuenta que en el primer caso se recomienda ingresar con vehículos altos, preferentemente 4×4; mientras que en el segundo puede accederse con vehículos bajos, siempre con extremada precaución.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body comollegar">
                        <h5>Como llegar: </h5>
                        <ul>
                            <li><i class="fas fa-bus-alt"></i> Micro/autobús larga distancia</i></li>
                            <li><i class="fas fa-car-side"></i> Auto</li>
                            <li><i class="fas fa-plane"></i> Avión</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body ">
                        <h5>Imperdibles</h5>
                        <ul>
                            <li>Chipá. Prueben el chipá, se hacen un bien al alma.</li>
                            <li>La comida típica es el Mbeyú.</a></li>
                            <li>Ver carpinchitos en los Esteros del Iberá.</li>
                        </ul>
                    </div>
                </div>
                <a href="#top" class="top"><i class="fas fa-long-arrow-alt-up"></i> Arriba</a>
            </div>

            <div class="boton"><a href="/propuestas" class="volver"><i class="fas fa-long-arrow-alt-left"></i> Todas las propuestas</a></div>
        </div>
        </div>

    </main>
