<div class="container">

      
      <div class="temporadas">

        <div class="row">
          <h2>Recomendaciones Básicas</h2>
        
        </div>
        <div class="row">
          <div class="col-sm">
            <h4>Identificación personal <i class="far fa-address-card"></i></h4>
            <p>Ante cualquier imprevisto es necesario tener un documento de identificación. Sobretodo si planeas tomar un transporte larga distancia.</p>
          </div>
          <div class="col-sm">
            <h4>Salud <i class="far fa-hospital"></i></h4>
            <p>El sistema de salud en Argentina es gratuito. Si sos extranjero, se te atenderá igual que a un residente pero, por las dudas recomendamos venir con Seguro de Salud.</p>
          </div>
          <div class="col-sm">
            <h4>Viajes internos <i class="fas fa-search"></i></h4>
            <p>Todas las provincias y algunos departamentos turísticos tienen sitios oficiales. Visitarlos para obtener indicaciones sobre cómo llegar o ver las atracciones habilitadas nunca está de más.</p>
          </div>
        </div>
     

        <div class="row">
          <div class="col-6">
            <h2>Temporadas</h2>
            <h4>Primavera <i class="fas fa-rainbow"></i></h4>
            <h5>Septiembre, octubre y noviembre</h5>
            <p> Es uno de los mejores momentos para visitar prácticamente todas las regiones de Argentina. Eso no impide que en el sur de Patagonia puedan caer grandes nevadas o encadenar varios días de temporales. Mucho mejor viajar en las semanas finales de la primavera.</p>
            <h4>Verano <i class="fas fa-temperature-high"></i></h4>
            <h5>Diciembre, enero y febrero</h5>
            <p> Son los meses de temporada alta para visitar Argentina. Las playas se llenan a rebosar y los turistas aprovechan para viajar a Patagonia y realizar trekkings y actividades que en otra época del año sería imposible por la acumulación de nieve. Sin embargo, te encontrarás con mucho calor en Buenos Aires. En el norte del país las temperaturas también son muy altas.</p>
            <h4>Otoño <i class="fab fa-envira"></i></h4>
            <h5>Marzo, abril y mayo</h5>
            <p> Al igual que sucede en primavera, las temperaturas suaves le convierten en la estación ideal para Buenos Aires y la mayoría de regiones del país (sobre todo durante las primeras semanas de la estación). También es un buen momento para disfrutar de los colores otoñales en Patagonia y Tierra de Fuego, y de las vendimias en Mendoza.
            </p>
            <h4>Invierno <i class="far fa-snowflake"></i></h4>
            <h5>Junio, julio y agosto</h5>
            <p> Nos encontramos en pleno invierno austral y temporada alta para los amantes de la nieve. Las estaciones de esquí de los Andes trabajan a pleno rendimiento. También es buen momento para visitar otros destinos del norte del  país como Salta o Jujuy.</p>
          </div>
          <div class="col-6">
            <h2>Alojamiento</h2>
            <p>En cuanto a alojamientos, siempre hay una gran variedad de opciones de las cuales elegir. Lo que hay que tener siempre en cuenta es con quien vamos, el nivel de confort que estamos esperando y qué tipo de experiencia queremos obtener.</p>
            <h4>Camping <i class="fas fa-campground"></i></h4>
            <p>En casi todas las localidades de cualquier provincia Argentina podemos encontrar un camping en el cual alojarnos. Habitualmente hay parcelas destinadas a carpas, otras a trailers y suele haber bungalows para quienes quieren algo más barato pero no aguantan la carpa. Suele ser lo más económico.</p>
            <h4>Hostel <i class="fas fa-users"></i></h4>
            <p>Los hostels son alojamientos baratos y son ideales para viajeros que buscan una experiencia más sociable. Lo bueno de estos establecimientos es que suelen estar en la ciudad o muy cerca del centro, a diferencia de los campings. Podes encontrar habitaciones comunales o privadas, dependiendo de lo que quieras gastar. No creemos que sea recomendable para ir con niñxs pequeños. Tener presente que compartir el baño y otros espacios comunes es determinante.</p>
            <h4>Hotel <i class="fas fa-hotel"></i></h4>
            <p>El más conocido de los alojamientos. Hay gran variedad en casi todos los puntos turísticos, solo hay que buscar el nivel de confort deseado y saber que esto inevitablemente impacta en el precio por noche.</p>
            <h4>Alquiler de cabañas - AirBnB <i class="fab fa-airbnb"></i></h4>
            <p>Alquilar una casa, una cabaña o un departamento suele ser lo más conveniente cuando se viaja con acompañantes. Buscando bien puede llegar a no tener una diferencia significativa de precio comparando con los Hostels sabiendo que no hay que compartir áreas comunes con desconocidos.</p>
            
          </div>
        </div>
        <div class="row">
          <h2>Trasladarse</h2>
        
        </div>
        <div class="row">
          <div class="col-sm">
            <h4>Transporte público <i class="fas fa-bus"></i></h4>
            <p>Para moverse en ciudades lo más práctico es obtener la Tarjeta SUBE que nos permite abonar los boletos de transporte público, sea colectivo, tren o subte.
            </p>
            <a href="https://www.argentina.gob.ar/sube" target="blank" class="boton">Información oficial Tarjeta SUBE</a>
          </div>
          <div class="col-sm">
            <h4>Taxi - Compañía de traslados <i class="fas fa-taxi"></i></h4>
            <p>En CABA y el interior hay servicio de Taxi. Si estás acostumbrado a usar Uber, Cabify o alguna aplicación de viaje por el estilo, Argentina no es la excepción. Con la aplicación pedís el auto y listo.</p>
          </div>
          <div class="col-sm">
            <h4>Alquiler de auto <i class="fas fa-car"></i></h4>
            <p>Alquilar autos nos parece una perfecta opción al momento de recorrer el interior del país si venis por, al menos, una semana.Importante es tener en cuenta revisar los requisitos para alquilar antes de viajar.</p>
          </div>
        </div>
        <div class="row">
          <h2>Links a páginas oficiales de Turismo</h2>
        </div>
        <div class="row">
          <div class="col-sm oficiales">
            <p>
              Es prudente, antes de cada viaje revisar las páginas oficiales de cada provincia. Principalmente creemos que, ante la duda, antes de reservar una excursión, alquilar un auto, o algo por el estilo buscar en el listado de Agencias de Turismo o datos adicionales que provee cada una de éstas páginas.  También esta bueno revisar la página del <a class="ministerio" href="https://www.argentina.gob.ar/turismoydeportes" target="blank">Ministerio de Turismo</a> para tener en cuenta y revisar antes de cualquier viaje.
            </p>
            <h5>Buenos Aires</h5>
            <ul>
              <li><a href="https://turismo.buenosaires.gob.ar/es" target="blank">Ciudad Autónoma de Buenos Aires</a></li>
              <li><a href="http://www.turismomardelplata.gob.ar/" target="blank">Mar del Plata</a></li>
            </ul>
            <h5>Cuyo</h5>
            <ul>
              <li><a href="https://www.argentina.gob.ar/circular/turismo/la-rioja" target="blank">La Rioja</a></li>
              <li><a href="https://www.sanjuan.tur.ar/" target="blank">San Juan</a></li>
              <li><a href="http://turismo.sanluis.gov.ar/#/" target="blank">San Luis</a></li>
              <li><a href="https://mendoza.tur.ar/" target="blank">Mendoza</a></li>
            </ul>
            <h5>Litoral</h5>
            <ul>
              <li><a href="https://misiones.tur.ar/" target="blank">Misiones</a></li>
              <li><a href="https://corrientes.tur.ar/" target="blank">Corrientes</a></li>
            </ul>
           
          </div>
          <div class="col-sm oficiales">
            <h5>Llanura Pampeana</h5>
            <ul>
              <li><a href="https://www.cordobaturismo.gov.ar/" target="blank">Córdoba</a></li>
              <li><a href="https://www.entrerios.tur.ar/" target="blank">Entre Ríos</a></li>
              <li><a href="https://turismo.lapampa.gob.ar/" target="blank">La Pampa</a></li>
            </ul>
            <h5>Noroeste</h5>
            <ul>
              <li><a href="http://www.turismo.jujuy.gob.ar/" target="blank">Jujuy</a></li>
              <li><a href="https://www.saltaturismo.com/index.html" target="blank">Salta</a></li>
              <li><a href="https://www.tucumanturismo.gob.ar/" target="blank">Tucumán</a></li>
            </ul>
            <h5>Patagonia</h5>
            <ul>
              <li><a href="https://turismo.rionegro.gov.ar/" target="blank">Río Negro</a></li>
              <li><a href="https://barilocheturismo.gob.ar/" target="blank">Bariloche</a></li>
              <li><a href="https://www.turismoelbolson.gob.ar/" target="blank">El Bolsón</a></li>
              <li><a href="http://neuquentur.gob.ar/es/" target="blank">Neuquén</a></li>
              <li><a href="https://chubutpatagonia.gob.ar/" target="blank">Chubut</a></li>
              <li><a href="https://www.santacruzpatagonia.gob.ar/" target="blank">Santa Cruz</a></li>
              <li><a href="https://findelmundo.tur.ar/es" target="blank">Tierra del Fuego</a></li>
            </ul>
          </div>
        </div>
      
    </div>
  </main>